/.lfsconfig
/.claude/
/.codex
/.mcp.json
*.swp
*.swo
.~lock*
*~
/cache
/contrib
/result.csv
/translation/results
\#*#
__pycache__
.vscode
/evaluation/isar_pisa_result.db
/config/evaluation_servers.csv
/shell.log
/data/translation/declarations.db
/data/translation/results.db
/data/premise_selection/SH.pretty.db
/data/proof_context.db
.venv
.archive
/evaluation
/tasks/Baldur/results/
/run
/tmp
/translation/statistics_cache.json
*.marks
secret.sh
/data/sorted_thy.txt
/data/declarations.json
/data/translation/declarations.db.gz
/data/translation/results.db.gz
/data/proof_context.db.zst
/data/basic_info.db.zst
/contrib/cvc5-Linux-x86_64-static-gpl.tar.zst
/contrib/leo3-v1.7.18.jar
/data/premise_info.db.zst
/data/pretrain_data.tar.zst
/data/annotations_on_elaborated_isar.db.zst
/data/premise_relevance.db.zst
/data/premise_selection/SH.pretty.db.zst
/tasks/extraction/theorem-relevance/premise_relevance.validate.keys
/contrib/Isabelle2024_and_afp-2025-02-12.tar.zst
/data/annotated_elaborated_isar.jsonl
/data/annotated_elaborated_isar.jsonl.zst
/data/annotated_elaborated_isar.shuf.jsonl
/data/annotated_elaborated_isar.shuf.jsonl.zst
/data/annotations_on_elaborated_isar.db
/data/basic_info.db
/data/chunks.tar.zst
/data/chunks.valid.tar.zst
/data/premise_embedding_ctxt_ac2.jsonl
/data/premise_embedding_ctxt_ac2.jsonl.tmp/
/data/premise_info.ac_norm.db.zst
/data/premise_info.db
/data/premise_info.fix.db.zst
/data/premise_relevance/
/data/premise_relevance.ac_norm.db.zst
/data/premise_relevance.db
/data/premise_relevance.db.zst.old
/data/premise_relevance.fix.db
/data/premise_relevance.fix.db.zst
/data/premises_chunks/
/data/premises_chunks_valid/
/data/randomly_chosen_validate_set.lst
/dataset.jsonl
/dataset.parquet
/request*.jsonl
/response*.jsonl
/result.db
/result2.db
/SH_pisa.jsonl
"tructor (make_constants_callback) has not been declared"
/data/translation/declarations.db.zst
/data/translation/results.db.zst
/data/sorted_thy.txt.zst
/data/declarations.json.zst
/tasks/extraction/theorem-relevance/premise_relevance.validate.keys.zst
*.unicode.thy
/contrib/Semantic_Embedding/Isabelle_Premise_Embedding.tar.zst
/contrib/Semantic_Embedding/Isabelle_Semantic_Embedding.tar.zst
/contrib/Isabelle2025-2_and_afp-2026-05-13.tar.xz
/contrib/Isabelle2025-2_and_afp-2026-05-13.tar.xz.zst
