*.swp
*.swo
.~lock*
*~
cache
contrib
result.csv
translation/results
\#*#
__pycache__
.vscode
evaluation/isar_pisa_result.db
config/evaluation_servers.csv
shell.log
data/translation/declarations.db
data/translation/results.db
data/premise_selection/SH.pretty.db
data/proof_context.db
.venv
