[submodule "data/miniF2F"]
	path = data/miniF2F
	url = https://github.com/facebookresearch/miniF2F.git
[submodule "contrib/auto_sledgehammer"]
	path = contrib/auto_sledgehammer
	url = git@github.com:xqyww123/auto_sledgehammer.git
	branch = main
[submodule "contrib/Isa-Mini"]
	path = contrib/Isa-Mini
	url = git@github.com:xqyww123/Isa-Mini.git
	branch = main
[submodule "contrib/Isa-REPL"]
	path = contrib/Isa-REPL
	url = git@github.com:xqyww123/Isa-REPL.git
	branch = main
[submodule "contrib/Automation_Base"]
	path = contrib/Automation_Base
	url = git@github.com:xqyww123/Automation_Base.git
  branch = main
[submodule "contrib/Isabelle_RPC"]
	path = contrib/Isabelle_RPC
	url = git@github.com:xqyww123/Isabelle_RPC.git
	branch = master
[submodule "contrib/Premise_Embedding"]
	path = contrib/Semantic_Embedding
	url = git@github.com:xqyww123/Premise_Embedding.git
[submodule "contrib/Performant_Isabelle_ML"]
	path = contrib/Performant_Isabelle_ML
	url = git@github.com:xqyww123/Performant_Isabelle_ML.git
[submodule "data/PutnamBench"]
	path = data/PutnamBench
	url = https://github.com/xqyww123/PutnamBench
[submodule "data/NTP4VC"]
	path = data/NTP4VC
	url = https://github.com/xqyww123/NTP4VC.git
[submodule "contrib/AutoCorrode"]
	path = contrib/AutoCorrode
	url = https://github.com/xqyww123/AutoCorrode
[submodule "contrib/my_better_isabelle_prover"]
	path = contrib/my_better_isabelle_prover
	url = git@github.com:xqyww123/my_better_isabelle_prover.git
	branch = main
[submodule "contrib/phi-system"]
	path = contrib/phi-system
	url = git@github.com:xqyww123/phi-system.git
[submodule "contrib/Isabelle-MCP"]
	path = contrib/Isabelle-MCP
	url = git@github.com:xqyww123/Isabelle-MCP.git
